name: Train and deploy ch6

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest
    environment: Development
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Set Azure ML workspace as default
      run: |
        az configure --defaults group="rg-dev-mlops"
        az configure --defaults workspace="mlw-dev-mlops"
    - name: Train a classification model on diabetes data in compute cluster
      run: |
        cd src
        az ml job create --file job.yml --stream
        
  deploy:
    runs-on: ubuntu-latest
    needs: train
    environment: Production
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Set Azure ML workspace as default
      run: |
        az configure --defaults group="rg-dev-mlops"
        az configure --defaults workspace="mlw-dev-mlops"
    - name: create endpoint
      run: |
        cd src
        az ml online-endpoint create --name mlflow-endpoint-lf -f create-endpoint.yml  
    - name: Register the model in the registry
      run: |
          JOB_NAME=$(az ml job list --query "[0].name" | tr -d '"')
          az ml model create --name "my-mlflow-model" \
                   --type "mlflow_model" \
                   --path "azureml://jobs/$JOB_NAME/outputs/artifacts/model"   
    - name: Deploy model to endpoint
      run: |
        cd src   
        az ml online-deployment create --name mlflow-deployment-lf --endpoint mlflow-endpoint-lf -f deployment.yml --all-traffic